{% extends "event/base_events.html" %}




{% block content %}

<div class="container d-flex justify-content-center">
    <div class="card p-4 mb-3">
        <div class="card-body">
            <h4 class="text-center">Update Your Profile !</h4><br>
            <form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
            <button class="btn btn-outline-primary"type="submit">Update</button>
            </form>
        </div>

    </div>

</div>


{% endblock content %}




