{% extends "tasks/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="about-container">
    <img src="{% static "images/IMAGE.JPG" %}">
    <h2>Hi, I'm El Mouataz Benmanssour</h2>
       <p>
  Hi! I’m a first-year Informatics Engineering student with a strong interest in software engineering and generative AI.<br>
  I'm passionate about learning how intelligent systems work and how to build them through code.<br><br>

  Right now, I’m focused on building a solid foundation in programming (especially Python),<br>
  understanding how AI models function, and exploring how generative AI is shaping the future of technology.<br><br>

  I enjoy problem-solving, collaborating with others, and constantly pushing myself to grow—both technically and creatively.<br><br>

  My goal is to become a skilled software engineer, working on impactful projects that combine innovation and real-world problem solving.<br>
  I'm always open to learning opportunities, projects, or connections that help me grow in this journey.
</p>
</div>
<div class="social-buttons">
    <a href="https://github.com/moatazbenma" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/el-mouataz-benmanssour-b427a1318/" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/benms_mtz?igsh=MXdyYm9pNTI0YnlzbA%3D%3D&utm_source=qr" class="fa fa-instagram"></a>



</div>


{% endblock content %}